/* 全局基础样式 */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  text-align: center;
}

/* 页面容器样式 */
.page-a {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-top: 100px;
  gap: 200px;
}

.page-b {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 子元素从上到下排列 */
  align-items: stretch; /* 子元素宽度覆盖父容器 */
  padding: 0px; /* 页面内边距 */
  gap: 40px; /* 左右文本框之间的间距 */
}

.left-box,
.right-box {
  width: calc(100% ); /* 减去外边距 */
  padding: 0px; /* 内边距，保持内容不贴边 */
  box-sizing: border-box; /* 包括内边距在内计算宽度 */
}

/* 左对齐文本框 */
.left-box h2,
.right-box h2 {
  line-height: 1.2; /* 标题行距 */
  margin-bottom: 8px; /* 标题与正文的间距 */
}

.left-box p,
.right-box p {
  line-height: 1.4; /* 正文行距 */
  margin: 4px 0; /* 正文的行间距 */
}


.left-box {
  text-align: left; /* 左对齐 */
  margin-left: 0px; /* 左侧外边距 */
  animation: textAni 1.5s cubic-bezier(0, 0, 0.5, 1) 0s forwards;
}

.right-box {
  text-align: right; /* 右对齐 */
  margin-right: 0px; /* 右侧外边距 */
  animation: textAni 1.5s cubic-bezier(0, 0, 0.5, 1) 1.5s forwards; /* 延迟 1.5s 播放 */
}

/* 文字组样式 */
.first-group h1 {
  font-size: 2.5rem;
  margin: 5px 0;
  color: #333;
}

.second-group p {
  margin: 10px 0;
  font-size: calc(1.2rem + 0.3vw); /* 随屏幕宽度动态调整 */
  color: #666;
}

/* 按钮样式 */
button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: transparent;
  color: #4299cf;
  border: none; /* 移除边框 */
  border-radius: 0; /* 确保没有圆角 */
  cursor: pointer;
  margin-top: 30px;
  transition: color 0.3s; /* 修改为文字颜色变化 */
}

button:hover {
  color: #054e92; /* 鼠标悬停时修改文字颜色 */
}

/* 淡入动画 */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.fade-in-line {
  animation-delay: var(--fade-in-delay, 0s);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 网易云文字动画 */
.textAni {
  animation-name: textAniKey;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes textAniKey {
  0% {
    transform: translateY(2vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* 响应式设计 */
@media (max-width: 600px) {
  .first-group h1 {
    font-size: 2.2rem;
  }

  .second-group p {
    font-size: 1.2rem;
  }

  button {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .first-group h1 {
    font-size: 2.2rem;
  }

  .second-group p {
    font-size: 1.2rem;
  }

  button {
    font-size: 18px;
    padding: 12px 24px;
  }
}
